---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Manu | About">
  <main>
    <h1>Manu Oppel del Rio</h1>
    <p>I'm a software developer from Miami, FL. I enjoy making websites, designing icons and user interfaces, and collecting playing cards. You can follow me on <a href="https://mastodon.social/@manutastic">Mastodon.</a></p>

    <h2>Colophon</h2>
    <p>This website was made with Astro.</p>
  </main>
</Layout>

<style>
</style>
